* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.section-1 {
  padding-top: 53px;
  padding-bottom: 35px;
  width: 100%;
  background-size: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: linear-gradient(50deg, #55B7FF, #7E5AFF);
}

.background-img {
  background-image: url(../img/bg1.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  margin-left: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

header ul {
  margin-left: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header ul:first-child {
  margin-left: 144px;
}

header ul:last-child {
  margin-right: 0;
}

header li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header a {
  color: #FFF;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 14px;
}

header a:hover {
  color: aqua;
}

ul:hover svg {
  fill: white;
}

header a:active {
  color: mediumorchid;
}

header ul:nth-child(4) {
  margin-right: 110px;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.border {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: white solid 1px;
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.border:hover {
  background-color: aqua;
  border: none;
}

.border:active {
  background-color: mediumorchid;
  border: none;
}

.border svg {
  margin-top: 17px;
  fill: white;
}

.border:hover svg {
  fill: #55B7FF;
}

.borders {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: white solid 1px;
  text-align: center;
  margin-right: 20px;
}

.borders:hover {
  background-color: aqua;
  border: none;
}

.borders:active {
  background-color: mediumorchid;
  border: none;
}

.borders svg {
  margin-top: 12px;
  fill: white;
}

.borders:hover svg {
  fill: mediumorchid;
}

.borders:active svg {
  fill: aqua;
}

.sect-1-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 200px;
  margin-bottom: 180px;
}

.drops {
  position: absolute;
  position: fixed;
  width: 30px;
  height: 200px;
  background-color: #55B7FF;
  z-index: 3;
  right: 0;
  border-radius: 20% 0 0 20%;
  text-align: center;
}

.drops a {
  margin-bottom: 28px;
  display: block;
}

.text_sect-1 {
  text-align: center;
}

.text_sect-1 h1 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 8px;
  margin-bottom: 20px;
}

.text_sect-1 p {
  color: #2C4058;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
  letter-spacing: 5.4px;
}

.line {
  width: 100px;
  height: 1px;
  background: #2C4058;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 30px;
}

h2 {
  color: #2C4058;
  font-family: Montserrat;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 90px;
  text-align: center;
}

.sect-2-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 146px;
}

.color-box {
  width: 585px;
  height: 470px;
  background: #55B7FF;
}

.sect-2-left-side {
  position: relative;
  width: 850px;
}

.sect-2-left-side img {
  width: 630px;
  height: 470px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: absolute;
  top: 45px;
  left: 160px;
}

.sect-2-right-side h4 {
  color: #2C4058;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sect-2-right-side h3 {
  color: #2C4058;
  font-family: Montserrat;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 19px;
}

.sect-2-right-side p {
  color: #2C4058;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 40px;
}

.sect-2-right-side button {
  color: #55B7FF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 190px;
  height: 50px;
  border: 1px solid #2C4058;
  padding: 16px, 41px;
  background-color: #FFF;
  margin-bottom: 60px;
  color: black;
}

.link a {
  margin-left: 10px;
  color: #000;
  font-family: Open Sans;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

#sect-3-left-side {
  margin-left: 160px;
}

.section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sect-3-right-side {
  position: relative;
}

.sect-3-right-side img {
  width: 630px;
  height: 470px;
  position: absolute;
  right: 160px;
  top: 45px;
}

#color-box-2 {
  width: 585px;
  height: 470px;
  background-color: #7E5AFF;
  float: right;
}

.section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 150px;
}

.section-4 {
  width: 100%;
  background-size: cover;
  background: linear-gradient(237deg, #3C7FD4 11.16%, #24CCFA 89.18%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 120px;
}

.section-4 .line {
  background-color: white;
  margin-top: 0px;
}

.section-4 h2 {
  color: white;
  margin-bottom: 90px;
}

.content-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.slider-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  width: 1970px;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

.slider {
  overflow: hidden;
  width: 1170px;
}

.content-news button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: white solid 1px;
}

.content-news button:hover {
  background-color: aqua;
}

.content-news button:active {
  background-color: mediumorchid;
}

button svg {
  fill: white;
}

button:hover svg {
  fill: #7E5AFF;
}

button:active svg {
  fill: white;
}

.card-cont {
  background-color: white;
  width: 370px;
  padding-top: 38px;
  padding-left: 20px;
  padding-bottom: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card-img {
  width: 370px;
  height: 240px;
}

.card-cont h5 {
  color: #2C4058;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}

.card-cont h6 {
  color: #2C4058;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 46px;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile img {
  border-radius: 50%;
}

.inform {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

.inform p {
  color: #2C4058;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}

.inform text {
  color: #55B7FF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.paginations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-circle {
  margin-right: 30px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: brown;
}

.pictures {
  margin-bottom: 60px;
  margin-left: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first-pctr {
  position: relative;
}

.srch svg {
  position: absolute;
  bottom: 200px;
  left: 250px;
}

.first-pctr img {
  width: 580px;
  height: 438px;
  margin-right: 18px;
}

.second-clmn img,
.third-clmn img {
  display: block;
  margin-right: 18px;
  margin-bottom: 10px;
}

.section-5 button {
  width: 190px;
  height: 50px;
  border: 1px solid #2C4058;
  padding: 16px, 41px;
  background-color: #FFF;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 100px;
}

.last-sect {
  position: relative;
}

#map iframe {
  width: 100%;
}

.contacts {
  width: 770px;
  height: 450px;
  background-color: white;
  background-image: url(../img/contacts-bg.png);
  background-position: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  bottom: 400px;
  left: 400px;
  z-index: 2;
}

.last-line {
  width: 100px;
  height: 1px;
  background: #2C4058;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 30px;
}

.contacts h2 {
  color: #2C4058;
  font-family: Montserrat;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 42px;
  text-align: center;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
}

.form {
  margin-left: 54px;
  position: relative;
  z-index: 3;
}

form button {
  color: #55B7FF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 140px;
  height: 50px;
  color: black;
  border: 1px solid #2C4058;
  background-color: white;
}

.form-group {
  margin-bottom: 26px;
}

::-webkit-input-placeholder {
  color: #2C4058;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

::-moz-placeholder {
  color: #2C4058;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

:-ms-input-placeholder {
  color: #2C4058;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

::-ms-input-placeholder {
  color: #2C4058;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

::placeholder {
  color: #2C4058;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input {
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #2C4058;
  opacity: 0.2;
  background-color: transparent;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:focus {
  border-bottom: 1px solid black;
  opacity: inherit;
}

.footer {
  height: 549px;
  width: 100%;
  background: linear-gradient(50deg, #55B7FF, #7E5AFF);
}

.footer-cont {
  width: 790px;
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 203px;
  margin-left: 400px;
  z-index: 2;
}

.footer-cont p {
  margin-top: 41px;
  color: #55B7FF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
}

button:hover {
  background-color: aqua;
  color: mediumorchid;
  border: none;
}

button:active {
  background-color: mediumorchid;
  color: white;
  border: none;
}

.background-img-footer {
  background-image: url(../img/last\ bg.png);
  width: 100%;
  height: 549px;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-position: bottom;
}